# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# MediaPipe model caches
models/*.task

# TensorBoard logs
models/logs/

# SQLite databases
*.sqlite3
db.sqlite3

# Dataset binaries
dataset/*/*.npy

# Flutter build caches
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
